<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>与{{ friend }}聊天中</title>

    <style>
        h1
        {
            color : red;
        }
        #head
        {
            background-color : yellow;
        }
        #read
        {
            height: 500px;
            width: 100%;
            background-color : yellow;
            overflow : scroll;
        }
        #write
        {
            rows : 1000;
            cols : 100;
            height: 200px;
            width: 100%;
        }
    </style>

</head>
<body>
    <div id="head" align="center">
        <h1>与{{ friend }}聊天中</h1>
    </div>

    <div align="center">
        <div id="read" align="left" >

        </div>

        <ol align="left">请输入：</ol>
        <textarea id="write" name="input_text"></textarea>
        <button onclick="send_message()">发送</button>

        <script type="application/javascript">
            ws = new WebSocket("ws://127.0.0.1:5000/chat_with_friend_ws/"+"{{ your_name }}");
            ws.onmessage = function (data)
            {
<!--                解析收到的消息-->
                var recv_msg = JSON.parse(data.data);
<!--                显示对方发送的消息-->
                var ptag = document.createElement("p");
                ptag.innerText = recv_msg.from_user + ":" + recv_msg.msg;
                document.getElementById("read").appendChild(ptag);
            }
            function send_message()
            {
                var msg = document.getElementById("write").value;
                var friend = "{{ friend }}";
                var send_str = {
                    "to_friend" : friend,
                    "msg" : msg
                }
                ws.send(JSON.stringify(send_str))

                <!--                显示你发送的消息-->
                var ptag = document.createElement("p");
                ptag.innerText = "{{ your_name }}" + ":" + document.getElementById("write").value;
                document.getElementById("read").appendChild(ptag);
            }
        </script>

    </div>
</body>
</html>