<!DOCTYPE html>
<html>
<head>
<title>智能聊天室</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset=utf-8" >
    <style>
        body{
            color : red;
        }
    </style>
</head>
<body>
	<h1>智能聊天室</h1>
    <h2><a href="http://127.0.0.1:5000/sign_up">注册</a></h2>
    <h2><a href="http://127.0.0.1:5000/login">登录</a></h2>
<!--		<div class="app-location">-->
<!--            <h2>注册：</h2>-->
<!--			<form method="post">-->
<!--                <label>用户名：   </label><input type="text" name="username"><br>-->
<!--                <label>密码：     </label><input type="password" name = 'password'><br>-->
<!--                <label>确认密码： </label><input type="password" name = 'password2'><br>-->
<!--                <input type="submit" value="提交"><br>-->
<!--			</form>-->
<!--		</div>-->
</body>
</html>